# DCS on Linux Joystick Udev Rules, VKB

#catchall for all vkb devices, beleived to all want hidraw
KERNEL=="hidraw*", ATTRS{idVendor}=="231d", ATTRS{idProduct}=="*", MODE="0664", TAG+="uaccess"
